.idea/

/build/bin
/build/buildlang
/build/build.properties
/build/phingext
/build/epub
/build/tools
/build/templates/release.json

/DESCRIPTION.html

/documentation/kickstart/*.xml~

/release/*.fo
/release/*.pdf
/release/*.php
/release/*.zip

/source/output/*.php

/RELEASENOTES.html
