.idea/

/000

/build/bin
/build/buildlang
/build/phingext
/build/epub
/build/tools

/documentation/kickstart/*.xml~
/documentation/*/output/*

/release/*

output/*.php

/source/buildscripts/debug.txt

/vendor