.idea/

/000

/build/bin
/build/buildlang
/build/phingext
/build/epub
/build/tools

/documentation/kickstart/*.xml~
/documentation/output/*

/release/*

/source/buildscripts/debug.txt
/source/output/*.php
